@model AnimalViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="shadow-sm p-3 bg-white rounded">
    <h4 class="mb-3">@Localizer["Add"]</h4>

    <form method="post" asp-controller="Animal" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Localizer["Nickname"]</label>
                <input id="animalNickname" type="text" class="form-control" asp-for="Nickname" placeholder="@Localizer["Nickname"]" required />
                <span asp-validation-for="Nickname"></span>
            </div>
            <div class="form-group col-md-4">
                <label>@Localizer["BirthDate"]</label>
                <input id="animalBirthDate" type="date" class="form-control" asp-for="BirthDate" placeholder="@Localizer["BirthDate"]" required />
                <span asp-validation-for="BirthDate"></span>
            </div>
            <div class="form-group col-md-4">
                <label>@Localizer["Passport"]</label>
                <input id="animalPassport" type="text" class="form-control" asp-for="Passport" placeholder="@Localizer["Passport"]" required />
                <span asp-validation-for="Passport"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>@Localizer["Kind"]</label>
                <input id="animalKind" type="text" class="form-control" asp-for="Kind" placeholder="@Localizer["Kind"]" required />
                <span asp-validation-for="Kind"></span>
            </div>
            <div class="form-group col-md-4">
                <label>@Localizer["Breed"]</label>
                <input id="animalBreed" type="text" class="form-control" asp-for="Breed" placeholder="@Localizer["Breed"]" required />
                <span asp-validation-for="Breed"></span>
            </div>
            <div class="form-group col-md-4">
                <label>@Localizer["Gender"]</label>
                <select id="animalGender" class="form-control" asp-for="Gender" asp-items="Model.GenderSelectList" required>
                    <option value="">@Localizer["SelectGender"]</option>
                </select>
            </div>
        </div>

        <div class="checkbox mb-2">
            <input asp-for="IsPublic" />
            <label asp-for="IsPublic">@Localizer["Public"]</label>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label>@Localizer["Features"]</label>
                <textarea id="animalFeatures" class="form-control" asp-for="Features" aria-label="With textarea"></textarea>
                <span asp-validation-for="Features"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-success btn-lg btn-block">@Localizer["Add"]</button>
    </form>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
}