@model AnimalViewModel

@{
    ViewData["Title"] = Localizer["Title", Model.Nickname];
}

<div class="shadow-sm p-3 bg-white rounded">
    <h2 class="font-weight-light mb-4">@Localizer["Update"] @Model.Nickname</h2>

    <form method="post" asp-controller="Animal" asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <small>@Localizer["Nickname"]</small>
                <input id="animalNickname" type="text" class="form-control" asp-for="Nickname" placeholder="@Localizer["Nickname"]" required />
                <span asp-validation-for="Nickname"></span>
            </div>
            <div class="form-group col-md-2">
                <small>@Localizer["Passport"]</small>
                <input id="animalPassport" type="text" class="form-control" asp-for="Passport" placeholder="@Localizer["Passport"]" required />
                <span asp-validation-for="Passport"></span>
            </div>
            <div class="form-group col-md-4">
                <small>@Localizer["Kind"]</small>
                <input id="animalKind" type="text" class="form-control" asp-for="Kind" placeholder="@Localizer["Kind"]" required />
                <span asp-validation-for="Kind"></span>
            </div>
            <div class="form-group col-md-4">
                <small>@Localizer["Breed"]</small>
                <input id="animalBreed" type="text" class="form-control" asp-for="Breed" placeholder="@Localizer["Breed"]" required />
                <span asp-validation-for="Breed"></span>
            </div>
        </div>

        <div class="checkbox mb-2">
            <input asp-for="IsPublic" />
            <label asp-for="IsPublic">@Localizer["Public"]</label>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <small>@Localizer["Features"]</small>
                <textarea id="animalFeatures" class="form-control" asp-for="Features" aria-label="With textarea"></textarea>
                <span asp-validation-for="Features"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-warning btn-lg btn-block">@Localizer["Update"]</button>
    </form>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
}
