@model AnimalViewModel

@{
    ViewData["Title"] = Localizer["Title", Model.Nickname];
}

<div class="media shadow-sm p-3 bg-white rounded">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
        <div class="col mt-4">
            <img class="qr-code mr-2" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Code))" alt="QRCode">
        </div>
        <div class="col mt-4">
            <div class="media-body">

                <h2 class="mt-0">
                    @Model.Nickname

                    @if (@Model.IsPublic)
                    {
                        <span class="badge badge-danger">@Localizer["Public"]</span>
                    }
                    else
                    {
                        <span class="badge badge-success">@Localizer["Private"]</span>
                    }

                </h2>

                @Localizer["Kind"]: <b>@Model.Kind</b><br />
                @Localizer["Breed"]: <b>@Model.Breed</b><br />
                @Localizer["Gender"]: <b>@Model.Gender</b><br />
                @Localizer["Passport"]: <b>@Model.Passport</b><br />
                @Localizer["BirthDate"]: <b>@Model.BirthDate</b><br />
                @Localizer["Features"]: <b>@Model.Features</b><br />
            </div>
        </div>
    </div>
</div>
