@model AnimalViewModel

@{
    ViewData["Title"] = Localizer["Title", Model.Nickname];
}

<div class="shadow-sm p-3 bg-white rounded">

    <div class="d-flex justify-content-between">
        <div>
            <h2 class="font-weight-light">@Model.Nickname</h2>
        </div>
        <div>
            <h4>
                @if (@Model.IsPublic)
                {
                    <span class="badge badge-danger">@Localizer["Public"]</span>
                }
                else
                {
                    <span class="badge badge-success">@Localizer["Private"]</span>
                }
            </h4>
        </div>
    </div>

    <div class="media">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
            <div class="col mt-2">
                <img class="qr-code mr-2" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Code))" alt="QRCode">
            </div>
            <div class="col mt-2">
                <div class="media-body font-weight-light">
                    <p>
                        @Localizer["Kind"]: <span class="font-weight-bold">@Model.Kind</span><br />
                        @Localizer["Breed"]: <span class="font-weight-bold">@Model.Breed</span><br />
                        @Localizer["Gender"]: <span class="font-weight-bold">@Model.Gender</span><br />
                        @Localizer["Passport"]: <span class="font-weight-bold">@Model.Passport</span><br />
                        @Localizer["BirthDate"]: <span class="font-weight-bold">@Model.BirthDate.ToShortDateString()</span>
                    </p>

                    <p>@Localizer["Features"]: <br /> <span class="font-weight-bold">@Model.Features</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
