@model AnimalViewModel

@{
    Layout = "_Animal";
}

@{
    ViewData["Title"] = @Localizer["Title", Model.Nickname];
}

<div class="container">
    <div class="bg-wrapper">
        <div class="bg-image"></div>
    </div>
    <div class="animal-wrapper">
        <div class="animal-content animal-border">
            <div class="qr-code-border">
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Code))" alt="QRCode" class="qr-code">
            </div>
            <div class="info-main">
                <div class="info-name">@Model.Nickname</div>
                <div class="info-passport">@Model.Passport</div>
            </div>
            <div>
                <div class="info-text info-border">@Model.Kind</div>
                <div class="info-text info-border">@Model.Breed</div>
                <div class="info-text info-border">@Model.Gender</div>
                <div class="info-text info-border">@Model.BirthDate.ToShortDateString()</div>
                <div class="info-text">@Model.Features</div>
            </div>
        </div>
        <div class="footer">
            <a asp-controller="Home" asp-action="Index" class="powered-by" title="@Localizer["ToIndex"]">Powered by QR Animal</a>
        </div>
    </div>
</div>
