@model AnimalViewModel

@{
    ViewData["Title"] = @Localizer["Title", Model.Nickname];
}

<div class="card">
    <h5 class="card-header">@Model.Nickname</h5>
    <div class="card-body">
        <h5 class="card-title">@Localizer["Kind"]: @Model.Kind</h5>
        <h5 class="card-title">@Localizer["Breed"]: @Model.Breed</h5>
        <h5 class="card-title">@Localizer["Gender"]: @Model.Gender</h5>
        <h5 class="card-title">@Localizer["Passport"]: @Model.Passport</h5>
        <h5 class="card-title">@Localizer["BirthDate"]: @Model.BirthDate.ToShortDateString()</h5>
        <p class="card-text">@Localizer["Features"]: <b>@Model.Features</b></p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">@Localizer["ToIndex"]</a>
    </div>
</div>
