@model AnimalViewModel

@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = @Localizer["Title", Model.Nickname];
}

<div class="form-account form-bg shadow-sm">
    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Code))" alt="QRCode" width="225" height="225">

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2>@Model.Nickname</h2></li>
        <li class="list-group-item">@Model.Kind</li>
        <li class="list-group-item">@Model.Breed</li>
        <li class="list-group-item">@Model.Gender</li>
        <li class="list-group-item">@Model.Passport</li>
        <li class="list-group-item">@Model.BirthDate.ToShortDateString()</li>
        <li class="list-group-item">@Model.Features</li>
    </ul>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-4">@Localizer["ToIndex"]</a>
</div>
