@model AnimalViewModel

@{
    ViewData["Title"] = $"Public Animal {@Model.Nickname} - QR Animal";
}

<div class="card">
    <h5 class="card-header">@Model.Nickname</h5>
    <div class="card-body">
        <h5 class="card-title">Kind: @Model.Kind</h5>
        <h5 class="card-title">Breed: @Model.Breed</h5>
        <h5 class="card-title">Gender: @Model.Gender</h5>
        <h5 class="card-title">Passport: @Model.Passport</h5>
        <h5 class="card-title">BirthDate: @Model.BirthDate</h5>
        <p class="card-text">Features: <b>@Model.Features</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go homepage</a>
    </div>
</div>
