@model IEnumerable<AnimalViewModel>

@{
    ViewData["Title"] = Localizer["Title", User.Identity.Name];
}

<div class="shadow-sm p-3 bg-white rounded">
    <div>
        <h1>@Localizer["Hello"], @User.Identity.Name!</h1>
        <p class="font-weight-normal">@Localizer["Display"]</p>
    </div>

    <div>
        <a asp-controller="Animal" asp-action="Create" class="btn btn-outline-success btn-sm" role="button">@Localizer["Add"]</a>
    </div>
</div>

@if (Model.Any())
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

        @foreach (var item in Model)
        {
            <div class="col mt-4">
                <div class="card border-cancel">
                    <div class="card-body shadow-sm p-3 bg-white rounded">
                        <a asp-controller="Animal" asp-action="Info" asp-route-id="@item.Id" class="card-link">
                            <h5 class="card-title">@item.Nickname</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Passport</h6>
                        <p class="card-text">@item.Features</p>

                        <a asp-controller="Animal" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">@Localizer["Edit"]</a>
                        <a asp-controller="Animal" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">@Localizer["Delete"]</a>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="alert alert-success mt-4" role="alert">
        <h4 class="alert-heading">@Localizer["Welcome"]</h4>
        <p>@Localizer["Manage"]</p>
        <hr>
        <p class="mb-0">@Localizer["Fill"]</p>
    </div>
}
