@model RegistrationViewModel

@{
    Layout = "_Account";
}

@{
    ViewData["Title"] = Localizer["Title"];
}

<form class="form-account form-bg shadow-sm" method="post" asp-controller="Account" asp-action="Registration" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>


    @*Place for logo*@
    @*<img class="mb-4" src="" alt="" width="72" height="72">*@

<h1 class="h3 mb-3 font-weight-normal">@Localizer["SignUp"]</h1>

    <input id="username" type="text" class="form-control" asp-for="UserName" placeholder="@Localizer["Username"]" required autofocus />
    <input id="email" type="email" class="form-control" asp-for="Email" placeholder="@Localizer["Email"]" required />
    <input id="passWithoutBorder" type="password" class="form-control" asp-for="Password" placeholder="@Localizer["Password"]" required />
    <input id="passWithBorder" type="password" class="form-control mb-3" asp-for="PasswordConfirm" placeholder="@Localizer["Confirm"]" required />

    <p><span asp-validation-for="UserName"></span></p>
    <p><span asp-validation-for="Email"></span></p>
    <p><span asp-validation-for="Password"></span></p>
    <p><span asp-validation-for="PasswordConfirm"></span></p>

    <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["SignUp"]</button>

    <p class="mt-3"><a class="btn-link" asp-controller="Account" asp-action="Login" role="button">@Localizer["HaveAccount"]</a></p>
</form>
